@model TeamCardVCModel

 
 

 



<div class="item">
    <div class="wrapper">
        <img  class="img-fluid" src="@Model.ImgUrl" alt="@Model.Title" />

        <div class="text">
            <h6 class="position">
                @Model.Job
            </h6>
            <h4 class="name">
                @Model.Title
            </h4>

        </div>
    </div>
</div>

