@page
@model Web.Pages.DTCMS.ContactUs.ViewModel
@inject IStringLocalizer<ResourceLibrary.Resources.ContactUs.ContactUsRes> Localizer;
@inject IStringLocalizer<ResourceLibrary.Panel.Common.Global.Global> GlobalLocalizer;
@{
    
    ViewData["Title"] = GlobalLocalizer["ShowDetail"];

    Layout = "_DashLayout";

    ViewBag.HasBottomSheetMenu = false;
}


<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">@Localizer["FullName"]</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">@Model?.Items?.FullName</dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">@Localizer["PhoneNumber"]</dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> @Model?.Items?.PhoneNumber</dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">@Localizer["MessageText"]  </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">  @Model?.Items?.MessageText</dd>
            </div>
            <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">  @GlobalLocalizer["CreateDate"]  </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"> @Model?.Items?.CreateDate</dd>
            </div>
        
        </dl>
    </div>
</div>