@model PageHeaderViewModel

<!-- Header Banner -->
<section class="banner-header section-padding bg-img" data-background="@Model.PicUrl" data-overlay-dark="8">
    <div class="v-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-30">
                    <h6>
                       @Model.Subtitle
                    </h6>
                    <h1>
                        @Model.Title
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>