@model FooterVCModel
@{
    bool hasFooter = true;
    if (ViewBag.HasFooter != null)
    {
        hasFooter = false;
    }
}
<!-- footer call to action area start -->
@if (hasFooter == true)
{

    <!-- Lets Talk -->
    <section class="lets-talk">
        <div class="background bg-img bg-fixed section-padding" data-background="/Template/img/slider/6.png"
             data-overlay-dark="5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-subtitle">
                            COWASH
                        </div>
                        <div class="section-title text-end">
                            با ما تماس بگیرید
                            <br />
                            مشاورین ما در خدمت شما هستند
                        </div>
                        <div class="wrap">
                            <a href="tel:+11234567890" class="dir-ltr">
                                +(98) 9363201642
                            </a>

                            <div class="dv">
                            </div>
                            <a href="mailto:info@cowashco.com">
                                info@cowashco.com
                            </a>
                            <div class="dv">
                            </div>
                            <div class="social">
                                <a class="icon" href="#">
                                    <i class="fa-brands fa-instagram">
                                    </i>
                                </a>

                                <a class="icon" href="#">
                                    <i class="fa-brands fa-whatsapp">
                                    </i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

      <footer class="footer bg">
        <div class="container">
            <!-- top -->
            <div class="top">
                <div class="row">
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <div class="logo">
                                <img alt="" src="~/Template/img/logo.png" />
                            </div>
                            <p>
                              کواش یک برند تخصصی در تولید روشویی‌های پرسلان، کابین‌های PVC و آینه‌های مدرن است که کیفیت و زیبایی را در کنار هم ارائه می‌دهد.
                            </p>
                            <div class="social-icons">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#">
                                            <i class="fa-brands fa-whatsapp text-black">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-brands fa-instagram text-black">
                                            </i>
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 offset-md-1 mb-30">
                        <div class="item">
                            <h3>
                            دسترسی سریع
                            </h3>
                            <div class="links">
                                <ul>
                                    <li>
                                        <a href="contact.html">
                                          محصولات
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                          درباره ما
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                       تماس با ما
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-30">
                        <div class="item">
                            <h3>
                           کاتالوگ
                            </h3>
                            <p>
                              برای آشنایی بیشتر با کواش میتوانید آخرین نسخه کاتالوگ ما را از لینک زیر دانلود کنید و محصولات ما را مشاهده کنید
                            </p>
                            <div class="newsletter">
                              <a class="button-1 d-flex align-items-center justify-content-center" href="#">
                                دانلود کاتالوگ
                                    <span class="ti-arrow-top-right">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- bottom -->
            <div class="bottom">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-0">
                          تمامی حقوق وب سایت متعلق به مجموعه کواش میباشد
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-0 text-start">
                       طراحی و توسعه    
                            <a href="#">
                                جریان
                            </a>
                            .
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
