@page "/article/{slug}"
@model Web.Pages.ArticleDetailModel


@{
    List<BreadcrumbItem> breadcrumbItems = new List<BreadcrumbItem>()
    {
         new BreadcrumbItem()
        {
         Title="  مقالات",
         Link="/articles"
        },
          new BreadcrumbItem()
        {
         Title=Model.Item.Title,
         Link="#"
        }
    };


    ViewBag.AdminBarRoute = "article";
    ViewBag.AdminBarEdit = true;
    ViewBag.AdminBarDelete = true;
    ViewBag.AdminBarId = Model.Item.Id;

    
}


<vc:page-header title="@Model.Item.Title" subtitle=""></vc:page-header>
<!-- Post -->
<section class="post section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-30">
                    @Html.Raw(Model.Item.Description)
            </div>
        </div>

    </div>
</section>
