@page
@using Web.Pages.Template.Components.CommonComponent.AdminBar;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewBag.IsIndex = true;

    List<AdminBarCustomModel>? Custom = new List<AdminBarCustomModel>()
    {
        new AdminBarCustomModel()
        {
            Icon="dashboard",
Link = "/dtcms",
Text = "پیشخوان"
        }
    };

    ViewBag.AdminBarCustom = Custom;

}

<vc:hero-slider></vc:hero-slider>
<!-- About -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 offset-lg-1">
                <div class="content">
                    <div class="section-subtitle">
                       
                        <vc:content id="1"></vc:content>
                    </div>
                    <div class="section-title text-end">
                        <span>
                            <vc:content id="2"></vc:content>
                        </span>
                        <vc:content id="3"></vc:content>
                    </div>
                    <p>
                        <vc:content id="4"></vc:content>
                    </p>
                    <ul class="list-unstyled list">
                        <li>
                            <div class="list-icon">
                                <span class="ti-check">
                                </span>
                            </div>
                            <div class="list-text">
                                <p>
                                    <vc:content id="5"></vc:content>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="list-icon">
                                <span class="ti-check">
                                </span>
                            </div>
                            <div class="list-text">
                                <p>
                                    <vc:content id="6"></vc:content>
                                </p>
                            </div>
                        </li>
                    </ul>
                    <a class="button-4" href="/aboutus">
                        درباره ما
                        <span class="ti-arrow-top-right">
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6  col-md-12 mt-30">
                <div class="item">

                    <vc:content id="7" class="g-fluid" alt="معرفی کوواش"></vc:content>

                    
                    <div class="bottom-fade">
                    </div>
                    <div class="icon">
                        <a class="vid arrow" href="https://www.youtube.com/watch?v=Tqoe_nDx3ps">
                            <span class="ti-control-play">
                            </span>
                        </a>
                    </div>
                    <div class="title">
                        <h4>
                            تماشای ویدیو
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section class="portfolio section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">
                    <vc:content id="8"></vc:content>
                    
                </div>
                <div class="section-title">
                    <vc:content id="9"></vc:content>
                </div>
            </div>
        </div>
        <div class="row gy-4 portfolio-grid">
            <div class="col-lg-4 col-md-6">
                <a href="#" class="item d-block">
                    <div class="img">
                        <img alt="" src="/Template/img/mix/1.jpg" />
                    </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>
                                روشویی با کابین
                            </h4>
                            <h6>
                                کد: ۷۹۰
                            </h6>
                        </div>
                        <div class="icon">
                            <span class="arrow">
                                <i class="ti-arrow-top-right"></i>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="img">
                        <img alt="" src="/Template/img/mix/1.jpg" />
                    </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>
                                روشویی با کابین
                            </h4>
                            <h6>
                                کد: ۷۹۰
                            </h6>
                        </div>
                        <div class="icon">
                            <a class="arrow" href="portfolio-details.html">
                                <i class="ti-arrow-top-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="img">
                        <img alt="" src="/Template/img/mix/1.jpg" />
                    </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>
                                روشویی با کابین
                            </h4>
                            <h6>
                                کد: ۷۹۰
                            </h6>
                        </div>
                        <div class="icon">
                            <a class="arrow" href="portfolio-details.html">
                                <i class="ti-arrow-top-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="img">
                        <img alt="" src="/Template/img/mix/1.jpg" />
                    </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>
                                روشویی با کابین
                            </h4>
                            <h6>
                                کد: ۷۹۰
                            </h6>
                        </div>
                        <div class="icon">
                            <a class="arrow" href="portfolio-details.html">
                                <i class="ti-arrow-top-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="img">
                        <img alt="" src="/Template/img/mix/1.jpg" />
                    </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>
                                روشویی با کابین
                            </h4>
                            <h6>
                                کد: ۷۹۰
                            </h6>
                        </div>
                        <div class="icon">
                            <a class="arrow" href="portfolio-details.html">
                                <i class="ti-arrow-top-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <div class="img">
                        <img alt="" src="/Template/img/mix/1.jpg" />
                    </div>
                    <div class="bottom-fade"></div>
                    <div class="con active">
                        <div class="title">
                            <h4>
                                روشویی با کابین
                            </h4>
                            <h6>
                                کد: ۷۹۰
                            </h6>
                        </div>
                        <div class="icon">
                            <a class="arrow" href="portfolio-details.html">
                                <i class="ti-arrow-top-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Video -->
<section class="video-wrapper video section-padding bg-img bg-fixed" data-background="/Template/img/slider/1.png"
         data-overlay-dark="5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-subtitle">
                    COWASH
                </div>
                <div class="section-title white">
                    ویدئو معرفی
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <a class="vid" href="https://www.youtube.com/watch?v=Tqoe_nDx3ps">
                    <div class="vid-butn">
                        <span class="icon">
                            <i class="ti-control-play">
                            </i>
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Team -->
<section class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-30">
                <div class="section-subtitle">
                    COWASH
                </div>
                <div class="section-title text-end">
                    تیم ما
                </div>
                <p class="team__text">
                    تیم کواش متشکل از گروهی متخصص در طراحی صنعتی، مهندسی ساخت، معماری داخلی و کنترل کیفیت است که هر یک با تجربه‌ای عمیق در صنعت ساختمان فعالیت می‌کنند.
                </p>
                <a class="button-4" href="team.html">
                    اطلاعات بیشتر
                    <span class="ti-arrow-top-right">
                    </span>
                </a>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="team-container">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="wrapper">
                                <img alt="" class="img-fluid" src="/Template/img/team/1.png" />

                                <div class="text">
                                    <h6 class="position">
                                        مدیر عامل
                                    </h6>
                                    <h4 class="name">
                                        سارا محسنی
                                    </h4>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Blog -->
<section class="blog section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">
                    COWASH
                </div>
                <div class="section-title">
                    آخرین مقالات
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <img alt="" class="img-fluid" src="/Template/img/mix/1.png" />
                        <div class="bottom-fade">
                        </div>
                        <div class="title">
                            <h4>
                                ۵ رنگ برتر روشویی در سال ۲۰۲۵ ترند طراحی داخلی ۱۴۰۴
                            </h4>
                        </div>
                        <div class="icon">
                            <a class="arrow" href="post.html">

                                <i class="ti-arrow-top-right text-white ">
                                </i>

                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
