@page "/p/{slug}"
@model Web.Pages.PagesDetailModel
@{
    List<BreadcrumbItem> breadcrumbItems = new List<BreadcrumbItem>()
    {
         new BreadcrumbItem()
        {
         Title="  صفحات",
         Link="/pages"
        },
          new BreadcrumbItem()
        {
         Title=Model.Item.Title,
         Link="#"
        }
    };


    ViewBag.AdminBarRoute = "dynamicpage";
    ViewBag.AdminBarEdit = true;
    ViewBag.AdminBarDelete = true;
    ViewBag.AdminBarId = Model.Item.Id;

}
 
<vc:page-header title="@Model.Item.Title" subtitle="COWASH"></vc:page-header>
 

<!-- Services Details -->
<section class="service-details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-md-12 mb-60">
                     @Html.Raw(Model.Item.Description)
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>