@page
@model Web.Pages.TeamModel
@{
    double Delay = 0.15;
}

@{
    List<BreadcrumbItem> breadcrumbItems = new List<BreadcrumbItem>()
    {
         new BreadcrumbItem()
        {
         Title="38",
         Link="#"
        }
    };

    ViewBag.AdminBarList = true;
    ViewBag.AdminBarAdd = true;
    ViewBag.AdminBarRoute = "team";
}
 
<vc:page-header title="  تیم ما" subtitle="COWASH"></vc:page-header>

<!-- Team -->
<section class="team section-padding">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col-lg-4 col-md-6 mb-45">
                    <vc:team-card title="@item.FullName" job="@item.JobPosition" pic="@item.PicUrl" delay="0"></vc:team-card>


                </div>

            }
        </div>
    </div>
</section>