@using SharedModels.Dtos
@model List<SliderSelectDto>

 



<!-- Slider -->
<header class="header slider-fade">
    <div class="owl-carousel owl-theme">

        @foreach (var item in Model)
        {

            <div class="item bg-img" data-background="@item.PicUrl" data-overlay-dark="6">
                <div class="v-middle caption">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 mt-30">

                                @if (!string.IsNullOrEmpty(item.Title))
                                {
                                    <h1>
                                   @item.Title
                                    </h1>
                                }
                                @if (!string.IsNullOrEmpty(item.Description))
                                {
                                    <p>
                                        @item.Description
                                    </p>
                                }
                                @if (!string.IsNullOrEmpty(item.Link))
                                {
                                    <a class="button-1" href="@item.Link">
                                        اطلاعات بیشتر
                                        <span class="ti-arrow-top-right">
                                        </span>
                                    </a>
                                }

                            
                             
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</header>