@using SharedModels.Dtos;
@model List<ArticleSelectDto>

 


 


<!-- Blog -->
<section class="blog section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-20">
                <div class="section-subtitle">
                    <vc:content id="15"></vc:content>
                </div>
                <div class="section-title">
                    <vc:content id="16"></vc:content>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">

                    @foreach (var item in Model)
                    {
                   
                            <vc:article-cart model="item" class=""></vc:article-cart>
                      


                    }

 

                </div>
            </div>
        </div>
    </div>
</section>
