@using SharedModels.Dtos.Shared
@model ProductSelectDto

<a href="/product/@Model.Slug" class="item d-block">
    <div class="img">
        <img alt="@Model.Title" src="@Model.ThumbnailUrl" />
    </div>
    <div class="bottom-fade"></div>
    <div class="con active">
        <div class="title">
            <h4>
              @Model.Title
            </h4>
            <h6>
                کد: @Model.ProductCode
            </h6>
        </div>
        <div class="icon">
            <span class="arrow">
                <i class="ti-arrow-top-right"></i>
            </span>
        </div>
    </div>
</a>