@using Web.Pages.Template.Components.ViewComponents;
 
@model ArticleCartVCModel

 


<a href="/article/@Model.Article.Slug" class="item d-block">
    <img src="@(string.IsNullOrEmpty(Model.Article.PicUrl) ? "/Template/images/no-pic-blog.svg" : Model.Article.PicUrl)" alt=" @Model.Article.Title" class="img-fluid" />
    <div class="bottom-fade">
    </div>
    <div class="title">
        <h4>
            @Model.Article.Title
        </h4>
    </div>
    <div class="icon">
        <span class="arrow" href="post.html">

            <i class="ti-arrow-top-right text-white ">
            </i>

        </span>
    </div>
</a>