@using SharedModels.Dtos.Shared;
@model List<TeamSelectDto>
@{
    double Delay = 0.15;
}



<!-- Team -->
<section class="team section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-30">
                <div class="section-subtitle">
                    <vc:content id="12"></vc:content>
                </div>
                <div class="section-title text-end">
                    <vc:content id="13"></vc:content>
                </div>
                <p class="team__text">
                    <vc:content id="14"></vc:content>
                </p>
                <a class="button-4" href="team.html">
                    اطلاعات بیشتر
                    <span class="ti-arrow-top-right">
                    </span>
                </a>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="team-container">
                    <div class="owl-carousel owl-theme">

                        @foreach (var item in Model)
                        {

                            <vc:team-card title="@item.FullName" job="@item.JobPosition" pic="@item.PicUrl" delay="@Delay"></vc:team-card>



                            Delay = Delay + 0.15;
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

